img,
select {
    max-width: 100%;
    height: auto;
}


.field .field-meta,
.field .inputs {
    width: 100%;
    text-align: left;
    margin-bottom: $spacing-s;
}

.item.resource.show #content {
    display: flex;
    flex-wrap: wrap;
}

.item.resource.show #content > h2 + h3 {
    order: 1;
    width: auto;
    margin: 0;
}

.item.resource.show #content > h2 {
    order: 2;
    width: 100%;
}

.item.resource.show #content > .media-list {
    order: 3;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item.resource.show #content > * {
    order: 4;
    width: 100%;
}

.item.resource.show .property {
    display: block;
}

.item.resource.show .property h4,
.item.resource.show .property .values,
#linked-resources,
#linked-resources > h4,
#linked-resources .linked-resource {
    text-align: left;
    width: 100%;
    float: none;
}

#linked-resources > h4,
#linked-resources .linked-resource {
    padding-left: 0;
    padding-right: 0;
}

.linked-resource .resource-link {
    flex: 2;
}

.linked.resources .resource-class {
    flex: 1;
}

/* @group ----- Off-Canvas Navigation ----- */
#oc-trigger{
    display: block;
}

.oc-container,
.oc-pusher,
.oc-content {
  height: 100%;
}

.oc-content {
  //overflow-y: scroll;
}

.oc-content,
.oc-content-inner {
  position: relative;
}

.oc-container {
  position: relative;
  overflow: hidden;
  //overflow-y: scroll;
}

.oc-pusher {
  height: auto;
  min-height: 100vh;
  position: relative;
  left: 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  z-index: 99;
}
.oc-pusher::after {
  content: '';
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  background: transparent;
}
.oc-menu-open .oc-pusher::after {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  width: 100%;
}

.oc-menu {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  visibility: hidden;
  width: 225px;
  z-index: 100;
  background: desaturate(lighten($red, 50%), 60%);
}
.oc-menu-open .oc-menu::after {
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  width: 0;
}

.oc-push.oc-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.oc-push.oc-menu::after {
  display: none;
}
.oc-push.oc-menu-open .oc-pusher {
  -webkit-transform: translate3d(225px, 0, 0);
  transform: translate3d(225px, 0, 0);
}

.oc-push.oc-menu-open .oc-push.oc-menu {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  visibility: visible;
}

.no-js .oc-menu {
  height: auto;
  position: static;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  visibility: visible;
}
.no-js #oc-trigger {
  display: none;
}
.no-js .oc-pusher {
  padding-left: 0;
}

.no-csstransforms3d .oc-pusher {
  padding-left: 225px;
}

/* @end */
